# ignore data folders
./BFGS/RGF/data

# ignore known executables
./BTA/mainEigen
./INLA_main/call_INLA
./INLA_main/call_INLA_sliding_windows

# ignoring data files
*.dat
*.mtx
*.txt

# ignoring addtional latex files
*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz
*.json

# ignoring object files
*.o

# ignoring error files
*.err
*.out

# ignoring crash reports
core_nid*

# ignoring nvidia profiler files
*.nsys-rep
